body {
  background-image:url("dj 2.jpg");
}
  
table{
  width: 100%;
  background-color: white;
}
table.menu{
  width:auto;
  margin-right:0px; 
  display: flex; 
flex-direction: column; 
align-items: center;
}

@media (min-width :600px) {
  p {
font-size: 1.25rem;
 }


h1{
color: white;
text-align: center;
}

footer{
  color: white;
  text-align: center;
}